{% extends "playsapp/base.html" %}
{% block app_name %} / Playsapp{% endblock %}
{% block content %}
  <table style="width:100%">
    <tr>
      <th></th>
      <th></th>
      <th>Game</th>
      <th>Price</th>
      <th>Link</th>
    </tr>
    {% for game in games %}
      <tr>
        <td class="table_text">#{{ forloop.counter }}</td>
        <td class="table_text"><img src="{{ game.image_link }}"/></td>
        <td class="table_game_name">{{ game.name }}<br><div class="table_game_category">{{ game.category }}</div></td>
        <td class="table_text">
          {% if game.discounted_price %}
            <del class="crossed_text">
          {% endif %}
          {{ game.base_price }}
          {% if game.discounted_price %}
            </del>
          {% endif %}
          <br>
          {% if game.discounted_price %}
            <div class="discount_text">{{ game.discounted_price }}</div>
          {% else %}
            <div class="no_discount_text">No discount :(</div>
          {% endif %}
        </td>
        <td class="table_text"><a href="{{ game.link }}">Go to Store</a></td>

      </tr>
    {% endfor %}
  </table>
{% endblock %}
