{% extends "playsapp/base.html" %}
{% block app_name %} / Playsapp{% endblock %}
{% block content %}
  <div class="games_count_label">Games added to the wishlist: {{ games|length }}</div>
  <table style="width:100%">
    <tr>
      <th></th>
      <th>Game</th>
      <th>Price</th>
      <th>Link</th>
    </tr>
    {% for game in games %}
      <tr>
        <td class="table_text"><img src="{{ game.image_link }}"/></td>
        <td class="table_game_name">{{ game.name }}<br><div class="table_game_category">{{ game.category }}</div>
          <form action="/ps" method="post">{% csrf_token %}
            <input hidden id="game_delete" name="game_delete" type="text" value="{{ game.link }}">
            <button type="submit"><i class="fa fa-trash"></i></button>
          </form>
        </td>
        <td class="table_text">
          {% if game.discounted_price or game.plus_discount %}
            <del class="crossed_text">
          {% endif %}
          {{ game.base_price }}
          {% if game.discounted_price or game.plus_discount %}
            </del>
          {% endif %}
          <br>
          {% if game.discounted_price %}
            <div class="discount_text">{{ game.discounted_price }}</div>
          {% endif %}
          {% if game.plus_discount %}
            <div class="discount_text">{{ game.plus_discount }}</div>
          {% endif %}
          {% if not game.discounted_price and not game.plus_discount %}
            <div class="no_discount_text">No discount :(</div>
          {% endif %}
        </td>
        <td class="table_text"><a href="{{ game.link }}">Go to Store</a></td>

      </tr>
    {% endfor %}
  </table>
  <form action="/ps" method="post" class="centered_form">{% csrf_token %}
    <div class="input_game_label">Enter the game link and click Add:</div>
    <input id="game_link" name="game_link" type="text" class="input_game">
    <button type="submit">Add (reloads page)</button>
  </form>
{% endblock %}
